<%- include('../partials/header_unauthorized') %> 

<div class="login_form">
<form action="/auth/login" method="POST" class="login_container">
  <input id="auth-email" type="email" name="email" placeholder="Email">
  <input id="auth-password" type="password" name="password" placeholder="Password">
  <input type="submit" value="Log In" id="login-button">
</form>
</div>

