<%- include('../partials/header_unauthorized') %> 

<div class="login_form">
<form action="/auth/signup" method="POST" class="login_container">
  <input id="auth-email" type="email" name="email" placeholder="Email">
  <input id="auth-name" type="text" name="name" placeholder="Name">
  <input id="auth-password" type="password" name="password" placeholder="Password">
  <input id="sign-up" type="submit" value="Sign up">
</form>
</div>

<a id="back_home" href="/">Home</a>