<header class="header_logged_in">
    <nav>
      <ul>
        <li><a href="/user/profile">Profile</a></li>
        <li><a href="/user">Search</a></li>
        <li><a href="/user/favorites">Favorites</a></li>
        <li><a href="/auth/logout">Logout</a></li>
      </ul>
    </nav>
  </header>