<header class="header_logged_in">
  <div class="site_identity">
    <h1 id="site_identity_title">H.I.I.T.S.</h1>
    <h4>High Intensity Interval Training Songs</h4>
  </div>
  <nav>
    <ul>
      <li><a href="/user/profile">Profile</a></li>
      <li><a href="/user">Search</a></li>
      <li><a href="/user/favorites">Favorites</a></li>
      <li><a href="/auth/logout">Logout</a></li>
    </ul>
  </nav>
</header>