<%- include('partials/site_identity') %> 


  <div class="login_container">
    <h1 class="auth"><a href="/auth/login" class="auth_link">Login</a></h1>
    <h1 class="auth"><a href="/auth/signup" class="auth_link">Signup</a></h1>
  </div>


