<%- include('partials/header_unauthorized') %> 

  <div class="login_container">
    <a href="/auth/login" class="auth_link"><h2 class="auth">Login</h1></a>
    <a href="/auth/signup" class="auth_link"><h2 class="auth">Signup</h1>
  </div>