<%- include('partials/header_logged_in') %>

<div class="profile_update_form">
  <form method="POST" action="/user/profile?_method=PUT" class="profile_container">
    <h1 id="profile_header">Profile Update</h1>
    <input id="update_user_name" type="text" name="name" id="name" placeholder="Current Name: <%= user.name %>"/>
    <input type="submit" value="Update" id="update_name_button" />
  </form>
</div>
