<h1>This is the update profile page</h1>

<form method="PUT" action="/users/profile/?_method=PUT<%= user.id %>">
    <textarea name="content" id="content">Edit your name</textarea>
    <input type="hidden" name="name" value="<%= user.name %>">
<button type="submit">
    Update
</button> 
</form>